# Python
__pycache__/
*.pyc
*.pyo
.venv/

# PlatformIO
.pio/
build.log

# IDE / editor
.vscode/
.claude/

# KiCad
*-backups/
*.kicad_prl

# CAD
*.FCBak

# Data files (uncomment to ignore)
# Firmware/gui/data/

.*
!.gitignore

open-jii/

Lib/

# data
Scripts/Li-Control/co2dot_data/
Scripts/Li-Control/old